{% extends "app/layout.html" %}

{% block content %}


<div class="jumbotron">
        <h1>Дрифт по мокрому по кругу</h1>
        <video src="/media/video-08-12-20-10-20.mp4"
               controls="controls"
               width="900" height="500"
               poster="/media/3.jpg"></video><br/>
        <h1>Зимний дрифт на парковке</h1>
        <video src="/media/video-08-12-20-10-21.mp4"
               controls="controls"
               width="900" height="500"
               poster="/media/3.jpg"></video>
</div>

{% endblock %}
